.search-container{
    position: relative;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.15);
    margin-right: 16px;
    margin-left: 0px;
    width: 100%;
    transition: background-color 0.3s ease;
    
}

.search-container:hover{
    background-color: rgba(255, 255, 255, 0.25);
}

@media (min-width: 600px){
    .search-container{
        margin-left: 24px;
        width: auto;

    }
}

.search-icon-wrapper{
    padding: 0 16px;
    height: 100px; 
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
}

.styled-input-base .MuiInputbase-input{
    color:white;
    padding: 8px 8px 8px 0;
    padding-left: calc(1em + 32px) !important;
    transition: width 0.3s;
    width: 100%;

}

@media (min-width: 900px) {
    .styled-input-base .MuiInputbase-input{
        width: 20ch;
    }
}

.search-results-dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    color: black;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0,0,0,2);
    z-index: 1000;
    max-height: 300px;
    overflow-y: auto ;
    margin-top: 5px;
}

.search-result-item{
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-result-item:hover{
    background-color: #f5f5f5;
}
.search-result-image{
    width: 40px;
    height: 40px;
    object-fit: contain;
}